.idea/
.vscode/
.history/
.next/
.lh
.DS_Store
coverage/
dist/
node_modules/

# Generovane soubory jazyku
client/Lang.ts

# Definice pro deploy do Google Cloud App Engine / nastavuje CircleCI
app.yaml

# Parametry pro aplikaci, ktere vystupuji v process.env.* / nastavuje CircleCI
.env
.npmrc
.gqlconfig
eslint-typegen.d.ts

# Nastavení pro GraphQL plugin ve VS Code od Prisma
.graphqlconfig

# Nastavení pro GraphQL plugin ve VS Code od Apollo
apollo.config.js

# Idea projekt
*.iml

fragmentTypes.json
apollo.config.js
graphql.config.js

next-env.d.ts
/graphql.schema.graphql
package-lock.json

*.dc*
graphql.config.js
/graphql.schema.json


.env*
eslint-typegen.d.ts